@import "variables";

.btn, button {
  border-radius: 3px;
  font-weight: bold;
}

.btn-primary {
  background-color: $primary;
  border-color: darken($primary, 5%);
  color: white;

  &:hover, &:focus, &:active {
    background-color: lighten($primary, 5%);
    border-color: lighten($primary, 10%);
  }
}
