$font-family-base: 'Muli', sans-serif;
$font-family-monospace: 'JetBrains Mono', monospace; // ToDo: Switch this to monospace
$font-family-sans-serif: 'Muli', sans-serif;

$primary: #F69444;
$dark-blue: #334155;

$icon-size: 2em;
