{% extends './base.html.twig' %}
{% block body %}

    {% set landing = {'title': 'Imprint'} %}

    {% include '/pages/_shared/landing.html.twig' %}

    <div class="container mb-5">
        Imprint goes here.
    </div>

{% endblock %}
