.key-facts {
  height: 130px;

  h3 {
    font-size: 1.5em;
    margin: 0;
  }

  .fact-number {
    font-size: 2em;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .key-facts {
    padding: 3em 0;
    height: auto;
  }
}
