$close: #FF605C;
$minimize: #FFBD44;
$maximize: #01CA4E;


.cli {
  border-radius: 10px;
  background-color: $dark;
  padding: 20px 20px;

  .cli-controls {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    .cli-control {
      height: 12px;
      width: 12px;
      margin-right: 5px;
      border-radius: 50%;

      &.cli-close {
        background-color: $close;
      }

      &.cli-minimize {
        background-color: $minimize;
      }

      &.cli-maximize {
        background-color: $maximize;
      }
    }
  }

  .cli-content {
    code {
      color: white;
      display: block;
      &.comment {
        color: $secondary;
      }
    }
  }
}
