@import "../functions/functions";
@import "../variables";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Mixins

@mixin made-svg-logo($collapsed: false) {
  width: 15em;
  height: 7em;

  @if ($collapsed == true) {
    width: 6em;
    height: 3em;
    transform: translate(0%, 25%); // ToDo: Find a nicer way for this -> display flex and justify center or something for svg

    g {
      path.D, path.E {
        transform: translate(45%, -50%);
      }
    }
  }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Main

nav#main_navigation {

  * {
    transition: all 0.6s ease-in-out;
  }

  .navbar-brand {
    a svg {
      @include made-svg-logo();
    }
  }

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  .collapse {
    align-self: center;
    padding-bottom: 5em;

    ul li a {
      color: white;
    }
  }

  &.navbar-shrink {
    background-color: $dark;

    .collapse {
      padding: 0;
    }

    a svg {
      @include made-svg-logo(true);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Media Queries

@media (max-width: 992px) {
  nav#main_navigation .navbar-brand a svg {
    @include made-svg-logo(true);
  }
}
