@import "../variables";

nav#main_navigation {
  &, * {
    transition: all 0.6s ease-in-out;
  }

  padding: 30px;
  height: 10rem;

  .navbar-brand {
    a svg {
      width: 14rem;
      height: 7rem;

      g {
        fill: white;
      }
    }
  }

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  .collapse {
    align-self: flex-start;

    ul li a {
      color: white;
    }
  }

  &.navbar-shrink {
    background-color: $dark-blue;
    padding: 25px;
    height: 4rem;

    a svg {
      width: 6rem;
      height: 3rem;
      transform: translate(0%, 15%); // ToDo: Find a nicer way for this -> display flex and justify center or something for svg
      g {
        font-family: $font-family-monospace;

        path.D, path.E {
          transform: translate(45%, -50%);

        }
      }
    }
  }
}
