<footer class="pt-5">
    <div class="footer-navigation pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pb-3 pb-md-0 text-center text-md-left">
                    <h2>Navigation</h2>
                    {# ToDo: Use controller routing here for multilanguage support #}
                    <a href="/">Home</a>
                    <a href="#">Showcase</a>
                    <a href="#">Documentation</a>
                </div>
                <div class="col-md-4 pb-3 pb-md-0 text-center text-md-left">
                    <h2>Portals</h2>
                    <a href="https://made.dev" target="_blank">Made Website</a>
                </div>
                <div class="col-md-4 pb-3 pb-md-0 text-center text-md-left">
                    <h2>Legal</h2>
                    {# ToDo: Use controller routing here for multilanguage support #}
                    <a href="/imprint">Imprint</a>
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="social d-flex justify-content-center">
        <a class="social-item" href="https://made.dev" target="_blank">
            <i class="fas fa-globe-europe"></i>
        </a>
        <a class="social-item" href="https://github.com/made" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a class="social-item" href="https://twitter.com/made_dot_dev" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="footer-notice text-center pt-3">
        <p class="m-0">Made with <i class="fas fa-heart"></i> by <a href="https://made.dev" target="_blank">Made</a></p>
        <p class="m-0">© Copyright 2019-2020 <a href="https://made.dev" target="_blank">Made</a></p>
    </div>
</footer>
