<footer class="pt-5">
    <div class="footer-navigation pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pb-3 pb-md-0 text-center text-md-left">
                    <h2>Navigation</h2>
                    <a href="#">Home</a>
                    <a href="#">Showcase</a>
                </div>
                <div class="col-md-4 pb-3 pb-md-0 text-center text-md-left">
                    <h2>Portals</h2>
                    <a href="#">Made Website</a>
                </div>
                <div class="col-md-4 pb-3 pb-md-0 text-center text-md-left">
                    <h2>Legal</h2>
                    <a href="#">Imprint</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="social d-flex justify-content-center">
        <a class="social-item" href="#">
            <i class="fas fa-globe-europe"></i>
        </a>
        <a class="social-item" href="#">
            <i class="fab fa-github"></i>
        </a>
        <a class="social-item" href="#">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="footer-notice text-center pt-3">
        <p class="m-0">Made with <i class="fas fa-heart"></i> by Made</p>
        <p class="m-0">© Copyright 2019-2020 Made</p>
    </div>
</footer>
