<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="main_navigation">

    <div class="navbar-brand">
        <a href="/{{ locale }}" title="{% trans from 'navigation' %}Homepage{% endtrans %}">
            {% include './_svg/made-logo.html.twig' %}
        </a>
    </div>

    <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item">
                <a class="nav-link" href="#home" title="{% trans from 'navigation' %}Home{% endtrans %}">
                    {% trans from 'navigation' %}Home{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#key_facts" title="{% trans from 'navigation' %}Key Facts{% endtrans %}">
                    {% trans from 'navigation' %}Key Facts{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#benefits" title="{% trans from 'navigation' %}Benefits{% endtrans %}">
                    {% trans from 'navigation' %}Benefits{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#roadmap" title="{% trans from 'navigation' %}Roadmap{% endtrans %}">
                    {% trans from 'navigation' %}Roadmap{% endtrans %}
                </a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#pricing" title="{% trans from 'navigation' %}Pricing{% endtrans %}">#}
            {#                    {% trans from 'navigation' %}Pricing{% endtrans %}#}
            {#                </a>#}
            {#            </li>#}
            <li>
                <a class="nav-link" href="#settings" title="{% trans from 'navigation' %}Settings{% endtrans %}">
                    <i class="fas fa-cog"></i>
                    {# ToDo: Settings - language Switcher, Dark Mode, Cookie Settings, etc #}
                </a>
            </li>
        </ul>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation"
            aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<script>

</script>
