<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
    <meta charset="UTF-8">
    <meta name="publisher" content="Made">
    <meta name="author" content="Made">

    {# ToDo: Implement further languages #}
    <link rel="canonical" href="https://made-the.blog/"/>
    <link rel="alternate" hreflang="en" href="https://made-the.blog/en"/>
    <link rel="alternate" hreflang="de" href="https://made-the.blog/de"/>

    {# ToDo: Add this crap later #}
    <meta name="msvalidate.01" content="*"/>
    <meta name="google-site-verification" content="*"/>
    <meta name="p:domain_verify" content="*"/>
    <meta name="yandex-verification" content="*"/>

    <title>{% block title %}Made Blog Framework{% endblock %}</title>

    {% include './stylesheets.html.twig' %}
</head>
<body>

{% include 'elements/navigation.html.twig' %}
<div class="content">
    {% block body %}{% endblock %}
</div>
{% include './javascript.html.twig' %}
</body>
</html>
