<section class="key-information mt-5 pt-5 pb-3 text-center">
    <div class="container">
        <h2 class="text-underline-secondary">About</h2>

        <p class="mt-5">Made provides an innovative way to making your blog.
            We really need some text here.</p>

        <button class="btn btn-primary mt-5">Learn more</button>

    </div>

</section>
