<section class="benefits mt-5 pt-5 pb-3 text-center">
    <div class="container">
        <h2 class="text-underline-secondary">Benefits</h2>

<div class="row">

    <div class="col-12 col-md-6 col-lg-3 pb-3 pb-lg-0">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="card-icon"><i class="fas fa-boxes"></i></div>
                <h3 class="card-title">Extendable</h3>
                <div class="card-text">Easily expandable thanks to interfaces.</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 pb-3 pb-lg-0 mt-0 pt-0 mt-lg-5 pt-lg-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="card-icon"><i class="fas fa-tachometer-alt"></i></div>
                <h3 class="card-title">Speed</h3>
                <div class="card-text">Thanks to the advanced caching system and well planned architecture this framework provides super fast results.</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 pb-3 pb-lg-0 mt-0 pt-0 mt-lg-5 pt-lg-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="card-icon"><i class="fas fa-box-open"></i></div>
                <h3 class="card-title">Multiple Origin</h3>
                <div class="card-text">The Blog posts can be fetched from files, GitHub and the database at the same time.</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 pb-3 pb-lg-0">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="card-icon"><i class="fas fa-file-code"></i></div>
                <h3 class="card-title">Markdown</h3>
                <div class="card-text">All blog posts are written in Markdown. Markdown can be easily extended.</div>
            </div>
        </div>
    </div>
</div>

    </div>
</section>
