{# ToDo: Count these numbers up #}
<div class="key-facts banner-secondary mt-5 mb-5 text-center text-white shadow-sm">
    <div class="container h-100">
        <div class="row h-100 align-content-center">
            <div class="col-md-3 pb-4 pb-md-0">
                <h3>Latest Release</h3>
                <p class="fact-number">0</p>
                {# ToDo: Get this number from the github or packagist api #}
            </div>
            <div class="col-md-3 pb-4 pb-md-0">
                <h3>Total Downloads</h3>
                <p class="fact-number">0</p>
                {# ToDo: Get this from the packagist api #}
            </div>
            <div class="col-md-3 pb-4 pb-md-0">
                <h3>Total Commits</h3>
                <p class="fact-number">121</p>
                {# ToDo: Get this from the github api #}
            </div>
            <div class="col-md-3">
                <h3>Resolved Issues</h3>
                <p class="fact-number">0</p>
                {# ToDo: Get this from the github api #}
            </div>
        </div>
    </div>
</div>
