<div class="landing">
    <div class="landing-title mb-2">Made Blog<br/>Framework</div>
    <div class="landing-subtitle mb-5">For intuitive easy convenient blogging</div>
    <button class="btn btn-primary">Inspire yourself</button>
</div>
<div class="after-landing">
    <pre>Don't be shy, continue scrolling :)</pre>
    <i class="far fa-hand-point-down"></i>
</div>
