<div class="newsletter banner-secondary mt-5 mb-5 pt-5 pb-5 text-center text-white shadow-sm">
    <div class="container h-100">
        <h2>Newsletter</h2>
        <p>Subscribe to our newsletter to receive updates and cookies :)</p>
        <div class="form-inline justify-content-center">
            <input type="text" class="form-control" placeholder="E-Mail" aria-label="E-Mail">
            <button class="btn btn-primary" type="submit" id="newsletter_register">Register</button>
        </div>
    </div>
</div>
